/* src/styles/Theme.css */

/*--------------------------------------------------------------
# Themes Section
--------------------------------------------------------------*/
.themes-section {
    padding: 60px 20px; /* Padding around the section */
    padding-top: 2%;
}

.themes-title {
    text-align: center; /* Center align title */
    font-size: 36px; /* Font size for heading */
    margin-bottom: 20px; /* Space below title */
    color: darkblue;
}

.themes-description {
    text-align: center; /* Center align description */
    margin-bottom: 40px; /* Space below description */
    font-size: 18px; /* Font size for description */
}

/* Cards Container */
.cards-container {
    overflow: hidden; /* Hide overflow to create scroll effect */
    position: relative; /* Position relative for absolute child */
}
.container-card{
    margin-left: auto;
    margin-right: auto;
}
.card-wrapper {
    display: flex; /* Use flexbox for layout */
    width: calc(100% * 5); /* Total width for 5 cards */
    animation: scroll-left 20s linear infinite; /* Animation effect */
    animation-play-state: running;
    margin-left: -20%; /* Start position to show 2.5 cards */
    transition: animation 0.5s ease;
}

.theme-card {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 15px;
    padding: 80px 40px;
    margin: 10px;
    flex: 0 0 20%;
    box-sizing: border-box;
}
.card-wrapper:hover {
    animation-play-state: paused; /* Pause the animation on hover */
}
.theme-card:last-child {
    margin-right: 0; /* Remove margin on last card */
}

.theme-card h3 {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 2%;
}

.theme-card p {
    font-size: 16px; /* Font size for card content */
}

/* Infinite Scroll Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Start position */
    }
    100% {
        transform: translateX(-100%); /* Shift left by the total width of all cards */
    }
}

/* Responsive styles (optional) */
@media (max-width: 640px) {
   .theme-card {
       width: calc(100% - 20px); /* Full width on smaller screens */
       margin-bottom: 20px; /* Space below each card on small screens */
   }

   .card-wrapper {
       animation: none; /* Disable scrolling on very small screens if needed */
   }
}